/* dark-mode */
$bg-dark: #191816;
$primary-dark: #FFC632;
$title-dark: #D4CCB6;
$text-dark: #AFB6C2;
$placeholder-dark: #A9AFB9;
$border-input-dark: #868686;
$button-text: #473404;
$form-dark-container: #24221F;

/* light-mode */
$bg-light: #F1EADD;
$primary-light: #2E2312;
$title-light: #2E2312;
$text-light: #574C3A;
$placeholder-light: #725F40;