:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

input, input[type=checkbox] {
  font-family: 'Roboto', sans-serif;
}

#app {
  margin: 0 auto;
}